* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100%;
}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* Links */
.link {
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.3rem;
  font-size: larger;
  font-weight: 300;
}

.link--background {
  background-color: rebeccapurple;
}

.link--border {
  border: 0.2rem solid rebeccapurple;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
